header h1{
    display: inline-block;
    padding: 0px;
    margin: 0
}
ul{
    list-style-type:none;
    float: right;
}

li{
   display: inline-block; 
   float:none;
   padding: 10px;   
}

.overview-hero-image{
    padding-top: 50px;
    padding-bottom: 50px;
}
.overview-hero-image img{
    height:250px;
    float: left;
}
.overview-hero-image p{
    float:right;
}
.card img{
    height:250px;
}
.cards{
   
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 20px;
    margin:10px;
    border: 20px;  
    justify-content: space-evenly;
    padding-top:5px ;     
}
.learn-about{
    padding-top: 100px;
}
.learn-about h2{
    grid-column: span 3;
    height: 20px;
    background: #2C5282;
    color: #FFFFFF;
    padding: 20px;
}
.testing {
    grid-column: span 5;
    height: 250px;
    background: #2C5282;
    color: #FFFFFF;
    padding: 20px;
    align-content: center;
}

.cta{
     float: right;
      margin-right: 100px;
      
}

  .stories img{
    float: left;
    width: 200px;
    border-radius: 50%;
    padding-right: 15px;
   
  }
  
  .article-body{
      padding-bottom: 50px;
  }
  .newsletter{
      display: flex;
      justify-content: center;
  }
   .form-group{
       display: inline-block; 
   }
   .button{
    display: inline-block; 
   }